body{
    font-family: 'Catamaran';
}

@media (min-width: 992px) {
  header {
    padding: 50px 0 50px;
  }

}
.grijs{
    background-color: #fafafa;
}
.navbar-brand{
    font-weight:bold;
}

.nav-link{
    margin-left: 10px;
}

.titel {
    font-size: 50px;
}

.foutief {
    margin-top: 30px;
}

.card{
    border:0px solid rgba(0,0,0,.125);
}

p{
    font-size: 15px;
}

.btn{
    border:1px solid rgba(0,0,0,.125);
    margin-bottom: 10px;
}

.card{
    background-color: #f1f1f1;
}

.bg-container{
    background: #ea5a0b;
}

section {
  padding: 150px 0;
}


.sticky-top{
 background:white;
height: 60px;
    box-shadow: 0px 0px 10px #c3c3c3;
}

footer{
 background:#ea5a0b; 
 padding: 17px 0px 12px 0px;
}

.padding{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footertekst{
    font-size: 14px;
    color: white;
}

img.afmeting{
    height: 200px;
    margin-top: 25px;
}

img.afmetingahs{
    height: 100px;
}

img.afmeting2{
    height: 100px;
    margin-top: 5px;
}

img.afmeting3{
    width: 100%;
    margin-top: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centertekst{
    text-align: center;
}

.navbar-light .navbar-nav .active>.nav-link{
    font-weight:500;
}
